body {
    background-color:burlywood;
  }
h2 {
    color:white;
    font-family: "Prompt", sans-serif;
    font-weight: 100;
    font-style: normal;
}
a {
    color: white;
}
ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
}
li {
    padding: 0px 10px 0px 10px;
    display: inline;
}
header {
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: cadetblue;
    border-color: cadetblue;
}
.headerPick {
    margin: 40px 0px 0px 0px;
    border: 7px solid cornsilk;
    border-radius: 20px;
    text-align: center;
}
h1 {
    color: cornsilk;
}